@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.anchor:hover {
  @apply visible;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}
.anchorH1,
.anchorH2,
.anchorH3,
.anchorH4,
.anchorH5,
.anchorH6{
  margin: 30px 0 5px 0;
  font-weight: 700;

}
.anchorH1 {
  font-size: 26px;
}
.anchorH2 {
  font-size: 20px;
}
.anchorH3 {
  font-size: 18px;
}

.link-a{
  text-decoration: underline;
  margin: 0 4px;
}
.custom-blog-li{
  &::before {
    content: '- ';
  }
}