@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.anchor:hover {
  @apply visible;
}

.prose .anchor {
  @apply absolute invisible no-underline;

  margin-left: -1em;
  padding-right: 0.5em;
  width: 80%;
  max-width: 700px;
  cursor: pointer;
}
.anchorH1,
.anchorH2,
.anchorH3,
.anchorH4,
.anchorH5,
.anchorH6 {
  margin: 30px 0 5px 0;
  font-weight: 700;
}
.anchorH1 {
  font-size: 26px;
  &::before{
    content: 'H1 ';
    font-size: 12px;
    color: #9CA3AF;
  }
}
.anchorH2 {
  font-size: 20px;
  &::before{
    content: 'H2 ';
    font-size: 12px;
    color: #9CA3AF;
  }
}
.anchorH3 {
  font-size: 18px;
  &::before{
    content: 'H3 ';
    font-size: 12px;
    color: #9CA3AF;
  }
}

.link-a {
  /* text-decoration: underline; */
  margin: 0 2px;
}
.custom-blog-li {
  &::before {
    content: "- ";
  }
}

pre code {
  display: block;
  padding: 10px;
  overflow-x: auto;
  background-color: rgb(47, 47, 47);
  border-radius: 4px;
  margin: 10px 0;
}

ul ul {
  margin-left: 20px; /* 为子列表添加缩进 */
}

p {
  white-space: pre-line;
}

.nav-bar{
  width: 48rem;
}
